 /*universal selector that will remove the margin and padding to 0 between all the elements*/
*{
  margin: 0;
  padding:0;
}

/*The flex container becomes flexible by setting the display property to flex*/
.flex-container > div {
  width: 200px;
/*Sets the color of the background container to rgb(50, 155, 150*/
  background-color: rgb(50, 155, 150);
  padding: 10px;
/*Sets the fonts size to 30px*/
  font-size: 30px;
/*Sets the fonts color to #092333*/
  color:#092333;
  
}

/* ul will list the items with bullets*/
ul{
/* it will remove the bullets*/
  list-style-type: none;
  padding: 20px;
  overflow:hidden;
  background-color: #092333;
}

li a {
/* it will move the list to the right side of the screen*/
  float: right;
  color: rgb(50, 155, 150);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  /* gives various font names so that it supports differt browers and operating system*/
  font-family: "Lucida Console", "Courier New", monospace;
  /* it will underline the list*/
  text-decoration: underline;
}
/* when you hover your mouse curser to the list the background color changes to red*/
li a:hover {
  background-color: rgb(173, 27, 27);
}

.container,.container1,.container2{
  display: flex; /*inline flex*/

  flex-wrap: nowrap; /*nowrap (default): single-line which may cause the container to overflow*/
  background-color:rgb(202, 202, 207);
  font-size: 15px;
  
}

.section-title {
  width: 300px;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
 
}

.section-content {
  background-color:rgb(202, 202, 207);
  width: auto;
  flex-grow: 4;
  padding:1%;
}

h1,h3,h4,h5,h6{
  
  background-color:rgb(236, 234, 231);
  padding:5%;
}

aside{
  display: flex;
  background-color: DodgerBlue;
  padding:2%;
  font-weight: bold;
  font-family: initial;
  
}













