.section-title {
  width: 300px;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
 
}

.section-content {
  background-color:rgb(202, 202, 207);
  width: auto;
  flex-grow: 4;
  padding:1%;
}

h1,h3,h4,h5,h6{
  
  background-color:rgb(236, 234, 231);
  padding:5%;
}